img {
    width: 450px;
    height: auto;
}
img {
    float: left;
  }
.sidebar {
width: 30%;
float: right;
background-color: yellow;
}
.column {
    width: 300px;
    float: left;
    border-color: brown;
    border-radius: 5px;
    border-style: dashed;
    padding:25px;
    margin: 10px;
  }
  .center{
      text-align: center;
  }
  .inline{
      display:inline-block;
  }
  body{
      padding: 25px;
      
  }